<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~       CopyrightÂ© (2018) WeBank Co., Ltd.
  ~
  ~       This file is part of weidentity-java-sdk.
  ~
  ~       weidentity-java-sdk is free software: you can redistribute it and/or modify
  ~       it under the terms of the GNU Lesser General Public License as published by
  ~       the Free Software Foundation, either version 3 of the License, or
  ~       (at your option) any later version.
  ~
  ~       weidentity-java-sdk is distributed in the hope that it will be useful,
  ~       but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~       GNU Lesser General Public License for more details.
  ~
  ~       You should have received a copy of the GNU Lesser General Public License
  ~       along with weidentity-java-sdk.  If not, see <https://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
         http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"
    id="appConfig">
    <property name="properties">
      <props>
		<prop key="asset.contractaddress">0x6096966a7c06006385ec0eb774f6dc783a8ee4f0</prop>
		<prop key="voting.contractaddress">0x8fd88b4d2ac3faa4655ac093e66f8970b110bf9d</prop>
		<prop key="ballot.contractaddress">0x166dcc9d7474ab8c2811824955f2859df5a6232f</prop>
        <prop key="weId.contractaddress">0x1134f67272db4e5f5426c3decbfedbe903957f1a</prop>
        <prop key="cpt.contractaddress">0xd96a8ff503fb711370870cca09fd334e3b2ed0e9</prop>
        <prop key="issuer.contractaddress">0xb9bc489b60f4cc4a2d060ac81261a290077694e9</prop>
        <prop key="evidence.contractaddress">0x0fbef189641206de54ae02c0bb6ed0d6e711d540</prop>
        <prop key="specificissuer.contractaddress">0xb5c6ec0815c15d031878e9c569b775d0e5a74940</prop>
      </props>
    </property>
      <!--<property name="location" value="classpath:application.properties" />-->
  </bean>

	<context:component-scan base-package="com.cayden.ballot.config"/>

	<bean id="encryptType" class="org.fisco.bcos.web3j.crypto.EncryptType">
		<constructor-arg value="0"/> <!-- 0:standard 1:guomi -->
	</bean>

	<bean id="groupChannelConnectionsConfig" class="org.fisco.bcos.channel.handler.GroupChannelConnectionsConfig">
		<property name="allChannelConnections">
			<list>
				<bean id="group1"  class="org.fisco.bcos.channel.handler.ChannelConnections">
					<property name="groupId" value="1" />
					<property name="connectionsStr">
						<list>
							<value>118.25.16.154:20200</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="channelService" class="org.fisco.bcos.channel.client.Service" depends-on="groupChannelConnectionsConfig">
		<property name="groupId" value="1" />
		<property name="orgID" value="fisco" />
		<property name="allChannelConnections" ref="groupChannelConnectionsConfig"></property>
	</bean>

</beans>
